    .faca-sua-festa-page {
    padding: 20px;
    margin-top: 20px;
  
    .faca-sua-festa-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }
  }